{% extends "base.html" %}
{% block title %}{{ t["new_user_title"] }} - {{ t["app_title"] }}{% endblock %}

{%block content %}
<div class="main-content">
    <div class="header-section">
        <h2><i class="fas fa-user-plus"></i> {{ t["new_user_header"] }}</h2>
    </div>

    <div class="table-container">
        <form method="POST">
            <div class="form-group">
                <label>{{ t["label_id"] }}:</label>
                <input type="text" name="cedula" placeholder="Ej: 1712345678" required class="form-control">  
            </div>

            <div class="form-group">
                <label>{{ t["label_name"] }}:</label>
                <input type="text" name="nombre" placeholder="Nombres y Apellidos" required class="form-control">
            </div>

            <div class="form-group">
                <label>{{ t["label_sector"] }}:</label>
                <input type="text" name="sector" placeholder="Ej: cementerio" required class="form-control">
            </div>

            <div class="form-group">
                <label>{{ t["label_meter"] }}:</label>
                <input type="text" name="medidor" placeholder="Ej: M-105" required class="form-control">
            </div>

            <div class="form-group">
                <label>{{ t["label_phone"] }}:</label>
                <input type="text" name="celular" placeholder="0987654321" class="form-control">
            </div>

            <div class="form-group">
                <label>{{ t["label_email"] }}:</label>
                <input type="email" name="correo" placeholder="usuario@correo.com" class="form-control">
            </div>

            <div class="form-actions">
                <button type="submit" class="btn-submit">
                    <i class="fas fa-save"></i> {{ t["btn_save_user"] }}
                </button>
                <a href="{{ url_for('usuarios') }}" class="btn-cancel">
                    <i class="fas fa-arrow-left"></i> {{ t["btn_back_list"] }}
                </a>
            </div>
        </form>
    </div>
</div>
{% endblock %}